# 
#
# $Revision::                                              $
# $Date::                                                  $
# $Author::                                                $
# $HeadURL::                                               $
# Copyright: Warren Kumari (warren@kumari.net) -- 2014
#

# Ignore emacs backup files.
*~

# and the text versions of the drafts.
*.txt
